<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.me.fantastic.battery"
    android:versionCode="5"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />
    <!-- Permissions -->
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
   <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
          android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name="uk.me.fantastic.battery.AlarmManagerActivity"
            android:label="@string/title_activity_alarm_manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           <activity android:name=".QuickPrefsActivity" android:label="Settings">
        </activity>

        <activity android:name="com.millennialmedia.android.MMActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|keyboard"
          >
            </activity>

        <!-- Broadcast receiver -->
        <receiver   android:name="uk.me.fantastic.battery.AlarmManagerBroadcastReceiver"></receiver>
        <receiver android:name="uk.me.fantastic.battery.AutoStart">
    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"></action>
    </intent-filter>
</receiver>
    </application>
  
</manifest>